# Copy this file to .env and fill with your actual values.
WIFI_SSID=SSID_WIFI_ANDA
WIFI_PASSWORD=PASSWORD_WIFI_ANDA
WS_HOST=HOST_WEBSOCKET_SERVER_ANDA
WS_PORT=3010
WS_SSL_ENABLED=false
DEVICE_UUID=UUID_DEVICE_ANDA
